.row{
  padding: 10px;
  border-bottom: solid 1px #212121;
}

#penWidth{
 width: 33%;
}
.input-color-css{
  margin-left: 1em;
  display: inline-block;
}
.search-box{

    // margin: 10px;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 0.5em;
    width: 92%;
}
.pagination-css{
  float: right;
  margin-right: 2.5em;
}

.drawing-area{
  padding: 1em;
  border: solid 1px #bbb;
  border-radius: 4px;
}
#main{
  margin-top: 1em;
}

#canvas{
  border: 1px solid #bbb;
  border-radius: 4px;
}

#tag{
  z-index: 10000;
}