<div class="container-fluid">
  <div class="row">
    <div id="paradiv" class="col-md-4">
      <input id="input" class="" placeholder="This text may be dragged." type="text" (keyup)="setParagraph($event)">
      <input type="color" class="input-color-css" id="favcolor" name="favcolor" (change)="setColor($event)" value="#ff0000">
      <span #textdrag class="input-color-css" id="tag" draggable="true"
        (dragstart)="onDrag($event)">{{textMessage}}
      </span>
    </div>
    <div id="pencildiv" class="col-md-6">
  
      <label for="pencil">Pencil</label>
      <input id="pencil" class="input-color-css" type="checkbox" (click)="drawPencil($event)">
      <input type="color" class="input-color-css" id="favcolorPencil" name="favcolorPencil" (change)="setColorPencil($event)"
        value="#ff0000">
      <input class="input-color-css" type="range" id="penWidth" name="penWidth" (change)="setWidthPencil($event)" min="0" max="10">
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="saveImage()">Save</button>
    </div>
   
  </div>
  
</div>
<div id="main" fxLayout="row wrap"  fxLayoutAlign="center">
  <div fxFlex="40%">
    <input class="search-box" placeholder="search picture" (keyup)="onChange($event)">
    <ul fxLayout="row wrap" fxLayoutAlign="space-between center">
      <li fxFlex="45%" style="margin: auto;"  *ngFor="let pic of pics| paginate: { itemsPerPage: 4, currentPage: p }">
        <img [id]="pic.id"
          [src]="pic.download_url" draggable="true" (dragstart)="onDrag($event)">
      </li>
     
    </ul>
    <pagination-controls class="pagination-css" (pageChange)="p = $event"></pagination-controls>
  </div>
  
  <div fxFlex="60%">
    <div fxLayout="row" fxLayoutAlign="center" class="drawing-area">
    <canvas #canvas id="canvas" (drop)="drop($event)" (dragover)="allowDrop($event)">
      not sported.
    </canvas>
  </div>
  </div>
  

</div>